<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Login Form</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input inputmode="email" required=true type="email" clearInput (ionChange)="onChangeEmail($event)"  placeholder="Email"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input inputmode="password" required="true" clearInput type="password" (ionChange)="onChangePassword($event)" placeholder="Password"></ion-input>
          </ion-item>
        </div>

        <div padding>
            <ion-button (click)="signeup()" size="large"  expand="block">Signup</ion-button>
        </div>

        <div padding>
            <ion-button (click)="loginEmail()" size="large"  expand="block">Login</ion-button>
        </div>
  
        <div padding>
          <ion-button (click)="login()" size="large"  expand="block">Login with Google</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
